{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>
<h3>Records - Query All</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Key</th>
      <th scope="col">Name</th>
      <th scope="col">Id</th>
      <th scope="col">Quality</th>
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
    {{range $i, $BlockResponse := .ResponseData}}
    <tr>
      <th scope="row">{{add $i 1}}</th>
      <td><a href="query.html?car={{$BlockResponse.Key}}">{{$BlockResponse.Key}}</a></td>
      <td>{{$BlockResponse.Record.Name}}</td>
      <td>{{$BlockResponse.Record.Id}}</td>
      <td>{{$BlockResponse.Record.Quality}}</td>
      <td>{{$BlockResponse.Record.Owner}}</td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}
