{{define "title"}}Create Record{{end}}

{{define "body"}}
<h3>Update</h3>

{{ if .Response }}
{{ if .Success }}
<div class="alert alert-success" role="alert">
    Successfully updated the record, transaction ID: {{ .TransactionId }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Unable to update the transaction, retry later.
</div>
{{ end }}
{{ end }}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <form action="update.html" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control rect-input-form" id="vegKeySearch" name="vegKeySearch" placeholder="Veg Key">
              <option>Select a Key to Update</option>
              {{range $i, $BlockResponse := .ResponseData}}
                <option>{{$BlockResponse.Key}}</option>
              {{end}}
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-center">
            <input type="hidden" name="requested" value="{{.TransactionRequested}}">
            <button type="submit" class="btn btn-primary btn-block text-center">Edit Transaction</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{ if eq .TransactionRequested "false"}}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form action="update.html" method="post">
      <div class="form-group">
        <input class="form-control rect-input-form" value="{{.SearchKey}}" type="hidden" id="vegKey" name="vegKey" spellcheck="false" autocomplete="off" placeholder="Vegetable Key">
      </div>
      <div class="form-group">
        <input class="form-control rect-input-form" value="{{.QueryData.Name}}" type="text" id="vegName" name="vegName" spellcheck="false" autocomplete="off" placeholder="Vegetable Name">
      </div>
      <div class="form-group">
        <input class="form-control rect-input-form" value="{{.QueryData.Id}}" type="text" id="vegId" name="vegId" spellcheck="false" autocomplete="off" placeholder="Vegetable Id">
      </div>
      <div class="form-group">
        <input class="form-control rect-input-form" value="{{.QueryData.Quality}}" type="text" id="vegQuality" name="vegQuality" spellcheck="false" autocomplete="off" placeholder="Vegetable Quality">
      </div>
      <div class="form-group">
        <input class="form-control rect-input-form" value="{{.QueryData.Owner}}" type="text" id="vegOwner" name="vegOwner" spellcheck="false" autocomplete="off" placeholder="Vegetable Owner">
      </div>
      <div class="form-group text-center">
        <input type="hidden" name="updated" value="{{.TransactionUpdated}}">
        <button type="submit" class="btn btn-primary btn-block text-center">Update Transaction</button>
      </div>
    </form>
  </div>
</div>
{{end}}

<a href="home.html">Back to Home</a>
{{end}}
